html{
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}


body{
    animation: fade-in 2s;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: 0px;
}

.col-12{
    padding-right: 0px;
}

.home{
    width: 100%;
    height: 100vh;
}

.miring{
    position: absolute;
    width: 100%;
    height: 688px;
    left: 0px;
    top: 0px;
    transform: skew(0deg, 10deg);
    margin-top: -190px;
    background: linear-gradient(180deg, rgba(255, 197, 161, 0.4) 40%, rgba(255, 255, 255, 0.4) 100%), #FFFADF;
}

.content{
    position: relative;
    margin-left: 60px;
    transform: skew(0deg, -10deg);
}


.logo{
    margin-top: 225px;
    font-family: 'Monoton' , cursive;
    font-size: 50px;
}

.logo a{
    color: black;
    text-decoration: none;
}

.logo a:hover{
    color: turquoise;
    transition: 0.6s;
}

.nama{
    padding-top: 165px;
    font-family: 'Montserrat', sans-serif;
    font-size: 95px;
}

.intro{
    margin-left:10px;
    padding-top: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    width: 53%;
    font-weight: 300;
}

.ganteng{
    width: 650px;
    height: 650px;
    margin-top: -545px;
    float: right;
}

.readbox{
    margin-left: 10px;
    font-family: 'Montserrat' , sans-serif;
    font-size: 30px;
    padding-top: 25px;
    padding-left: 55px;
    margin-top: 30px; 
    background: linear-gradient(90deg, rgba(255, 208, 176, 0.3) -0.16%, rgba(255, 255, 255, 0.3) 99.99%), #F8A978;
    width: 275px;
    height: 97px;
    border-radius: 8px; 
    cursor: pointer;

}

#readmore{
    color: #FFFFFF;
}

#gallerylink{
    color: black;
}

.navbar {
    float: right;
    margin-right: 41px;
    margin-top: -78px;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.navbar2{
    padding-right: 35px;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: 30vh;
}

.navbar3{
    padding-right: 35px;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: 16%;
}

.navbtn {
    color: black;
    margin: 4px;
}

.navbtn li{
    padding-right: 5px;
    display: inline-block;
}

.navbtn li a{
    text-decoration: none;
    color: black;
}

.navbtn li a:hover{
    color: turquoise;
    transition: 0.6s;
}

.navbtn2 {
    color: black;
    margin: 4px;
}

.navbtn2 li{
    padding-right: 5px;
    display: inline-block;
}

.navbtn2 li a{
    text-decoration: none;
    color: black;
}

.navbtn2 li a:hover{
    color: orange;
    transition: 0.6s;
}

.division{
    position: relative;
    width: 100%;
    height: 100vh;
}

.box1{
    height: 100vh;
    background: linear-gradient(90deg, rgba(255, 203, 168, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%), #FFC5A1;
}

.divtext{
    text-align: center;
    padding-top: 45%;
    font-family: 'Monoton', cursive;
    font-size: 90px;
}


.isidiv{
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.tulisanjudul{
    font-family: "Montserrat", sans-serif;
    font-size: 23px;
    font-weight: 600;
}

.tulisanaja{
    text-align: justify;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.box2{
    height: 100vh;
    background: linear-gradient(270deg, rgba(173, 240, 231, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%), #BADFDB;
}

.box3{
    height: 100vh;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.3) 0%, rgba(253, 215, 191, 0.3) 100%), #FFFADF;
}

.col-6{
    padding: 0px;
}

.bg_contact{
    width: 100%;
    height: 100vh;
    background: url(Group.png);
  }

.contact_text{
    padding-top: 15.5%;
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 90px;
}

.contact_icon{
    text-align: center;
    padding-top: 2%;
}

.contact_icon img{
    opacity: 0.5;
    transition: 0.6s;
}

.contact_icon img:hover{
    opacity: 1;
}

.skills_container {
    width: 100%;
    background-color: #FFD3B8;
    border-radius: 10px;
}

.skills {
    text-align: right;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    color: white;
}

.text_skills {
    padding-top: 20px;
    font-family: "Montserrat", sans-serif;
}


.python {width: 85%; height: 30px; border-radius: 10px; background-color: #F8A978;}
.java {width: 75%; height: 30px; border-radius: 10px; background-color: #F8A978;}
.htmlcss {width: 60%; height: 30px; border-radius: 10px; background-color: #F8A978;}
.figma {width: 60%; height: 30px; border-radius: 10px; background-color: #F8A978;}
.uiux {width: 45%; height: 30px; border-radius: 10px; background-color: #F8A978;}
.publicspeaking {width: 70%; height: 30px; border-radius: 10px; background-color: #F8A978;}
.leadership {width: 75%; height: 30px; border-radius: 10px; background-color: #F8A978;}

.judulexp {
    color: #F8A978;
}

.expkind{
    font-weight: 600;
}


@keyframes fade-in{
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes from-right{
    from {
        right: 20%;
    }
    to {
        right: 0;
    }
}